<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Postman</title>
    <link rel="stylesheet" href="/static/css/app.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="dev_s">
      Developed by 🐕&🐕‍🦺
    </div>
    <div class="postman__title">YUMA 🚀
      <span class="chip_v">v1.0.0</span>
    </div>
    <div class="container">
      <div class="postman__wrraper">
        <div class="postman__form">
          <h2 class="req_title">Request :</h2>

          <form id="request-form" class="request-form">
            <div class="aall">
              <div class="req__inputs">
                <label for="method">Method:</label>
                <select id="method" name="method">
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="PUT">PUT</option>
                  <option value="PATCH">PATCH</option>
                  <option value="DELETE">DELETE</option>
                </select>

                <label for="url">URL:</label>
                <input
                  type="text"
                  id="url"
                  name="url"
                  placeholder="http://localhost:8000/api/example"
                  required />

                <label for="headers">Headers (JSON):</label>
                <textarea
                  id="headers"
                  name="headers"
                  placeholder='{"Content-Type": "application/json"}'></textarea>

                <label for="body">Body (JSON):</label>
                <textarea
                  id="body"
                  name="body"
                  placeholder='{"key": "value"}'></textarea>
              </div>
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
        <div class="postman__response">
          <h2 class="res_title">Response :</h2>
          <pre class="response__content" id="response"></pre>
        </div>
      </div>
    </div>

    <script src="/static/js/app.js"></script>
  </body>
</html>
