* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #747474 rgb(0 0 255 / 0%) !important;
}

html {
  overflow-x: hidden;
  background: radial-gradient(#03161b, #000000);
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: "";
}

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

body {
  scrollbar-width: thin;
  scrollbar-color: #747474 rgb(0 0 255 / 0%) !important;
  margin: 0;
  padding: 0;
  height: calc(100vh - 80px);
  background: radial-gradient(#03161b, #000000);
  margin: 0;
  line-height: inherit;
  font-family: var(--font-BARLOW), var(--font-IRANSANS);
}

body[dir="rtl"] {
  font-family: var(--font-IRANSANS), var(--font-Raleway), var(--font-BARLOW),
    Arial, sans-serif, ui-sans-serif, system-ui;
}

body[dir="ltr"] {
  font-family: var(--font-Raleway), var(--font-BARLOW), var(--font-IRANSANS),
    Arial, sans-serif, ui-sans-serif, system-ui;
}

body::-webkit-scrollbar,
* ::-webkit-scrollbar {
  width: var(--scroll-width) !important;
  height: var(--scroll-height) !important;
}

* ::-webkit-scrollbar-track {
  background: var(--elements-scroll-track) !important;
}

* ::-webkit-scrollbar-thumb {
  background: var(--elements-scroll-thumb) !important;
}

* ::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
    circle,
    rgb(0 255 107 / 50%) 0%,
    rgb(0 0 0 / 0%) 100%
  ) !important;
}

body::-webkit-scrollbar-track {
  background: var(--body-scroll-track) !important;
}

body::-webkit-scrollbar-thumb {
  background: var(--body-scroll-thumb) !important;
}

body::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
    circle,
    rgb(0 255 107 / 50%) 0%,
    rgb(0 0 0 / 0%) 100%
  ) !important;
}

h1:focus {
  outline: none;
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}
