/* JSON syntax highlight */
pre#response .key {
  color: #facc15;
}
pre#response .string {
  color: #4ade80;
} 
pre#response .number {
  color: #60a5fa;
}
pre#response .boolean {
  color: #f472b6;
}
pre#response .null {
  color: #9ca3af;
}
pre#response .error {
  color: #f87171;
  font-weight: bold;
}
@font-face {
  font-family: IRANSANS;
  src: url("../fonts/IranSans/IRANSansWeb_Medium_FaNum.woff2") format("woff2"),
    url("../fonts/IranSans/IRANSansWeb_Medium_FaNum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: IRANSANS;
  src: url("../fonts/IranSans/IRANSansWeb_FaNum.woff2") format("woff2"),
    url("../fonts/IranSans/IRANSansWeb_FaNum.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: IRANSANS;
  src: url("../fonts/IranSans/IRANSansWeb_Bold_FaNum.woff2") format("woff2"),
    url("../fonts/IranSans/IRANSansWeb_Bold_FaNum.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BARLOW;
  src: url("../fonts/Barlow/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BARLOW;
  src: url("../fonts/Barlow/Barlow-Medium.woff2") format("woff2"),
    url("../fonts/Barlow/Barlow-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BARLOW;
  src: url("../fonts/Barlow/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/raleway-regular-webfont.woff2") format("woff2"),
    url("../fonts/Raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-IRANSANS: IRANSANS;
  --font-BARLOW: BARLOW;
  --font-Raleway: Raleway;
  --ye100: #b6b69c;
  --ye200: #ddddc0;
  --ye300: #85852d;
  --gray100: #555555;
  --gray200: #ffffff26;
  --white: #ffffff;
  --black: #000000;
  --border-source: radial-gradient(circle, #00ff8f 1%, #00044182 91%);
  --border-gra: radial-gradient(
    circle,
    rgb(249, 115, 22, 0.3) 83%,
    rgba(0, 128, 255, 0.3) 100%
  );
  --bg-primary: #e3e3dc;
  --table-header-color: #c7c7b9;
  --table-tr-odd: #ddddd8;
  --table-tr-even: #d8d8d1;
  --error-color: #e81e1e;
  --disabled-color: #d3d3cc;
  --dis-bg: #a9a9a9;
  --dis-color: #636363;
  --dis-border: 1px solid #b9b9b9;
  --amber50: #fffbeb;
  --amber100: #fef3c7;
  --amber200: #fdba74;
  --amber300: #fcd34d;
  --amber400: #fbbf24;
  --amber500: #eaa039;
  --amber600: #d97706;
  --amber700: #b45309;
  --amber800: #92400e;
  --amber900: #78350f;
  --amber950: #451a03;
  --zinc50: #fafafa;
  --zinc100: #f4f4f5;
  --zinc200: #e4e4e7;
  --zinc300: #d4d4d8;
  --zinc400: #a1a1aa;
  --zinc500: #71717a;
  --zinc600: #52525b;
  --zinc700: #3f3f46;
  --zinc800: #27272a;
  --zinc900: #18181b;
  --zinc950: #09090b;
  --bg100: #eaeae8;
  --blue100: #1e93e8;
  --blue200: #0079d0;
  --green100: #18ff851a;
  --green200: #004719;
  --green300: #006f39;
  --green400: #9bffcf;
  --green500: #179d05a8;
  --red100: #ab0000a8;
  --red500: #ff9b9b;
  --red800: #bd0024;
  --brown100: #eaa0394f;
  --transition-3-easeIn: all 0.3s ease-in;
  --border-primary: 1px solid var(--amber200);
  --border-none: rgba(255, 0, 0, 0);
}

.dev_s {
  position: absolute;
  bottom: 10px;
  width: 200px;
  left: 0;
  right: 0;
  color: #0050db;
  padding-inline: 30px;
  font-size: 14px;
  padding: 1px 2px;
  border-radius: 5px;
  transition: var(--transition-3-easeIn);
  text-align: center;
  font-family: monospace !important;
  font-weight: 700;
}

.dev_s:hover {
  color: rgba(255, 255, 255, 0.904);
  background: #0050db;
  transform: scale(1.05);
  transition: var(--transition-3-easeIn);
  bottom: 15px;
  left: 10px;
}

[data-dark-mode] {
  --bg-primary: var(--zinc700);
  --start-bg: #161616;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 100%;
  max-width: 1440px;
  padding-inline: 20px;
}

.postman__title {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  padding: 10px 20px;
  font-size: 30px;
  margin: 0px auto;
  font-weight: bold;
  text-align: start;
  color: var(--zinc300);
  font-family: var(--font-Raleway);
  justify-content: flex-start;
}

.chip_v {
  position: absolute;
  background: #0110ff;
  color: #ffffff;
  left: 155px;
  bottom: 20px;
  font-size: 10px;
  padding: 1px 2px;
  border-radius: 5px;
}

.postman__wrraper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  margin-top: 80px;
  padding-bottom: 40px;
}

.postman__form {
  width: 35%;
  display: flex;
  flex-direction: column;
  background: #0048230d;
  border-radius: 0;
  margin: 0 auto;
  color: var(--zinc300);
  /* backdrop-filter: blur(5px); */
  border-image-slice: 1 !important;
  border-width: 1px !important;
  border-image-source: radial-gradient(
    circle,
    #007bff 1%,
    #004f0b82 91%
  ) !important;

  .req_title {
    font-size: 20px;
    font-family: var(--font-Raleway);
    font-weight: bold;
    padding-inline: 30px;
    padding-top: 30px;
  }

  .request-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 100%;

    .req__inputs {
      padding: 30px;
      display: flex;
      flex-direction: column;
    }
    label {
      margin-top: 25px;
      font-weight: 600;
      font-size: 1rem;
      color: #0050db;
      transition: color 0.3s ease;
      margin-bottom: 1px;
      padding-left: 10px;
    }

    label:first-of-type {
      margin-top: 0 !important;
    }

    input,
    select,
    textarea {
      margin-top: 5px;
      padding: 7px 15px;
      font-size: 1rem;
      border-radius: 8px;
      border: 2px solid transparent;
      outline: none;
      width: 100%;
      box-sizing: border-box;
      background: #8eff0503;
      color: #f1f1f1;
      transition: border-color 0.25s ease, box-shadow 0.25s ease;
      border: 1px solid #171717;
    }

    input:focus,
    select:focus,
    textarea:focus {
      border-color: #22d3ee;
      box-shadow: 0 0 0 3px rgb(34 211 238 / 20%);
    }

    label:has(+ input:focus),
    label:has(+ select:focus),
    label:has(+ textarea:focus) {
      color: #22d3ee;
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }

    button {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      color: rgb(4, 126, 134);
      background: rgba(4, 0, 58, 0.027);
      cursor: pointer;
      transition: var(--transition-3-easeIn) !important;
    }

    button:hover {
      color: #ffffff;
      background: #05b1cf63;
      transition: var(--transition-3-easeIn) !important;
    }
  }
}

.aall {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.postman__response {
  width: 65%;
  background: #0048230d;
  padding: 30px;
  border-radius: 0;
  margin: 0 auto;
  color: var(--zinc300);
  overflow: auto;
  font-size: 16px;
  /* backdrop-filter: blur(5px); */
  border-image-slice: 1 !important;
  border-width: 1px !important;
  border-image-source: var(--border-source) !important;

  .res_title {
    font-size: 20px;
    font-family: var(--font-Raleway);
    font-weight: bold;
  }
}

option {
  background: #000813;
  color: #f1f1f1;
}

pre {
  max-height: 90%;
  max-width: 100%;
  width: 100%;
  margin: auto;
  overflow-x: auto;
  padding-top: 25px;
}
